.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-panel {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 320px;
  background: #fff;
  /* backdrop-filter: blur(8px); */
  border-radius: 8px;
  box-shadow: 0px 10px 20px -3px #6c6c6c;
  padding: 12px 24px;
  margin: 20px;
  /* font-size: 13px; */
  line-height: 1;
  color: #000;
  outline: none;
}
.control-option {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.control-panel h1 {
  margin-top: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.control-panel h3 {
  font-size: 18px;
  /* font-weight: 300; */
  margin-bottom: 10px;
  text-transform: uppercase;
}
.control-panel h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
}

.control-panel p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  padding-right: 10 px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #dedede;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fbbe02;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.filter-option {
  position: relative;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.filter-option p {
  font-size: 12px;
}

.filter-option input {
  background-color: transparent;
  display: inline-block;
  width: 81%;
  position: relative;
  margin: 5px;
  cursor: ew-resize;
}

.filter-option #slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.filter-option #slider:hover {
  opacity: 1;
}

.filter-option #slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fbbe02;
  cursor: pointer;
}

.filter-option #slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fbbe02;
  cursor: pointer;
}
